// 常用背景颜色
$bg-white: #ffffff;
$bg-light: #f8f9fb;
$bg-grey: #f0f0f0;
$bg-primary: #409EFF;
$bg-success: #67C23A;
$bg-warn: #E6A23C;
$bg-error: #F56C6C;
$bg-info: #909399;

// 常用字体颜色
$fc-default: #606266;
$fc-dark: #303133;
$fc-light: #909399;
$placeholder: #C0C4CC;

// 常用边框颜色
$br-default: #DCDFE6;
$br-primary: #E4E7ED;
$br-light: #EBEEF5;